if SHIELD_NUMPAD

config ZMK_KEYBOARD_NAME
    default "Numpad"

config ZMK_MOUSE
    default y

config I2C
    default y

config INPUT
    default y

config INPUT_PINNACLE
    default y

endif