if SHIELD_NUMPAD

config ZMK_KEYBOARD_NAME
    default "Numpad"

config ZMK_MOUSE
    default y

endif

if SHIELD_PIMTRACKBALL

config ZMK_SPLIT
    default y

config I2C
  default y

endif